{% extends 'empty.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ form_errors(registrationForm) }}
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Inscription</h3>
                <form>
                  <div class="form-group">
                    {{ form_start(registrationForm) }}
                        <label>Nom</label>
                        {{ form_widget(registrationForm.nom) }}
                        {{ form_errors(registrationForm.nom) }}
                    </div>
                    <div class="form-group">
                        <label>Prenom</label>
                        {{ form_widget(registrationForm.prenom) }}
                        {{ form_errors(registrationForm.prenom) }}
                    </div>
                    <div class="form-group">
                        <label>Année de Naissance</label>
                        {{ form_widget(registrationForm.annee_naissance) }}
                        {{ form_errors(registrationForm.annee_naissance) }}
                    </div>
                    <div class="form-group">
                        <label>Adresse E-Mail</label>
                        {{ form_widget(registrationForm.email) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    <div class="form-group">
                        <label>Mot de Passe</label>
                        {{ form_widget(registrationForm.plainPassword) }}
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_errors(registrationForm.agreeTerms) }}
                        <label>Acceptez les Conditions Génerales d'Utilisation </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block enter-btn">S'Inscrire</button>
                    </div>  
                    {{ form_end(registrationForm) }}
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
{% endblock %}
