<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="{{ path('app_home') }}">
            <img src="assets/images/logo.png" alt="logo" />
        </a>
        <a class="sidebar-brand brand-logo-mini" href="index.html">
            <img src="assets/images/logo.png" alt="logo" />
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">
                                {% if app.user %}
                                    {{ app.user.nom }}
                                    {{ app.user.prenom }}
                                {% endif %}
                            </h5>
                            <span>
                                {% if app.user %}
                                    {{ app.user.email }}
                                {% endif %}
                            </div>
                        </div>
                        <a href="{{ path('app_home') }}" id="profile-dropdown">
                            <i class="mdi mdi-settings text-primary"></i>
                        </a>
                    </div>
                </li>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">
                    Navigation
                                                                                                                
                                                                                
                                                
                </span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="{{ path('app_home') }}">
                    <span class="menu-icon">
                        <i class="mdi mdi-speedometer"></i>
                    </span>
                    <span class="menu-title">
                        Accueil
                                                                                                                                
                                                                                            
                                                        
                    </span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false">
                    <span class="menu-icon">
                        <i class="mdi mdi-security"></i>
                    </span>
                    <span class="menu-title">
                        Mon equipe
                                                        
                    </span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_joueurs') }}">
                                Joueurs 
                                                                        
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_entraineurs') }}">
                                Entraineurs 
                                                                        
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_staff') }}">
                                Staff 
                                                                        
                            </a>
                        </li>
                    </ul>
                </div>   
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="{{ path('app_calendrier') }}">
                    <span class="menu-icon">
                        <i class="mdi mdi-chart-bar"></i>
                    </span>
                    <span class="menu-title">
                        Calendrier
                                                                                                                                
                                                                                            
                                                        
                    </span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="{{ path('app_stats') }}">
                    <span class="menu-icon">
                        <i class="mdi mdi-contacts"></i>
                    </span>
                    <span class="menu-title">
                        Stats
                                                                                                                                
                                                                                            
                                                        
                    </span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="{{ path('app_composition') }}">
                    <span class="menu-icon">
                        <i class="mdi mdi-file-document-box"></i>
                    </span>
                    <span class="menu-title">
                        Composition
                                                                                                                                
                                                                                            
                                                        
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    